<%= form_for(pitboss_entry) do |f| %>
  <% if pitboss_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pitboss_entry.errors.count, "error") %> prohibited this pitboss_entry from being saved:</h2>

      <ul>
      <% pitboss_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_name %>
    <%= f.text_field :game_name %>
  </div>

  <div class="field">
    <%= f.label :entry_type %>
    <%= f.text_field :entry_type %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label :timestamp %>
    <%= f.text_field :timestamp %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
