<p id="notice"><%= notice %></p>

<h1>Pitboss Entries</h1>

<table>
  <thead>
    <tr>
      <th>Game name</th>
      <th>Entry type</th>
      <th>Value</th>
      <th>Timestamp</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
    <% @pitboss_entries.each do |pitboss_entry| %>
      <tr>
        <td><%= pitboss_entry.game_name %></td>
        <td><%= pitboss_entry.entry_type %></td>
        <td><%= pitboss_entry.value %></td>
        <td><%= pitboss_entry.timestamp %></td>
        <td><%= pitboss_entry.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @pitboss_entries %>

<br>
