<div class="game">
  <div class="game__turn">
    <h1><%= game_name %></h1>
  </div>

  <div class="game__turn">
    <h2>Turn</h2>
    <%= turn %>
  </div>

  <div class="game__players-done">
    <h2>Waiting for the following players</h2>
    <ul>
      <% unfinished_players.each do |player| %>
        <li>@<%= player.slack_name %> as <strong><%= player.steam_name %></strong></li>
      <% end %>
    </ul>
  </div>

  <div class="game__timer">
    <h2>Estimated time left</h2>
    <%= distance_of_time_in_words(time_left) %>
  </div>

  <div class="game__player-stats-link">
    <h2>Player stats</h2>
    <%= link_to "Slothfulness ranking", player_stats_path(game_id: game_id) %>
  </div>
</div>
